.spain{
   min-height: 100vh;
   background: url('../images/spain-1.jpg') no-repeat center;
   background-size: cover;
   padding: 46vh 0 10vh 0;
   background-attachment: fixed;
   &__wrapper{
      padding: 50px 50px 50px 30px;
      position: relative;
      background: rgba(35,35,35,.9);
   }
   &__subtitle{
      font-size: 20px;
      letter-spacing: 1.5px;
      margin-bottom: 25px;
   }
}
